<style>
                h1 {
                    color: #42aada;
                }
                p {
                   font-family: 'Courier New';
                   font-size: 15px;
                }
            </style>